@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
  background: black;
  color: white;
}
.fontbold {
  font-family: "Poppins", sans-serif;
}
.sidebar {
  height: calc(100vh - 54px);
}
.itemss {
  height: calc(100vh -32px);
}
